<title>Hackathon Sites Adding</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<div class="row">
	<div class="span8 offset3">
		<label for="name" id="nameLabel">Name:</label>
		<input type="name" id="name" placeholder="Enter Name Here"/>
	</div>
</div>
<div class="row">
	<div class="span8 offset3">
		<label for="address" id="addressLabel">Address:</label>
		<input type="address" id="address" placeholder="Enter Url Here"/>
	</div>
</div>
<div class="row">
	<div class="span7 offset3">
		<label for="description" id="descriptionLabel">Description:</label>
		<input type="description" id="description" placeholder="Enter Description Here"/>
	</div>
	<div class="span1">
		<span id="submitButton">Submit</span>
	</div>
</div>